<div class="tech-btm">
    <h4>Mail Bültenine Abone Ol</h4>
    <p>Bizi Takip etmek için mail bültenine abone olun </p>
    <form action="/NewsLetter/SubscribleMail/" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>